@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Poppings, sans-serif;
}

@font-face {
    font-family: 'Blackletter';
    src: url('/font/Blacklettersh.ttf') format('truetype');
}